fastapi
ecs-logging
aws_embedded_metrics
asgi-logger
pydantic_settings
dnspython
pymongo
pymongo[aws,snappy,zstd,encryption]
httpx
uvicorn


langchain-community
tiktoken
langchain-openai
langchainhub
chromadb
langchain
langgraph
langchain-text-splitters
beautifulsoup4
openai
